@model  IEnumerable<University_II.ViewModels.TeacherSubjectViewModel>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Credits)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
<tr>

    <td>
        @Html.ActionLink(item.Subject.Title, "Details", "Subject", new { id = item.Subject.ID }, null)
    </td>
    <td>
        @Html.ActionLink(item.Teacher.Name, "Details", "Teacher", new { teacherId = item.Teacher.Id }, null)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject.Credits)
    </td>

    @if (User.IsInRole("Dean"))
    {
        <td>
            @Html.ActionLink("Edit Credits", "EditCredits", "Subject", new
            { id = item.Subject.ID, courseId = item.Course.Id }, null)
        </td>
    }

    @if (User.IsInRole("Dean"))
    {
        <td>
            @Html.ActionLink("Change Subject", "ChangeCourseSubject", "Course", new
            { id = item.Subject.ID, courseId = item.Course.Id }, null)
        </td>
    }
</tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
